<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CryptoExpert_Pool_Monitor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <CryptoExpert_Pool_Monitor.My.MySettings>
            <setting name="ARGurl" serializeAs="String">
                <value>http://arg.cryptopools.com/index.php?page=api&amp;action=public</value>
            </setting>
            <setting name="DGCurl" serializeAs="String">
                <value>http://dgc.cryptopools.com/index.php?page=api&amp;action=public</value>
            </setting>
            <setting name="GFTurl" serializeAs="String">
                <value>http://gft.cryptopools.com/index.php?page=api&amp;action=public</value>
            </setting>
            <setting name="QBTurl" serializeAs="String">
                <value>http://qbt.cryptopools.com/index.php?page=api&amp;action=public</value>
            </setting>
            <setting name="HBNurl" serializeAs="String">
                <value> http://hbn.cryptopools.com/index.php?page=api&amp;action=public</value>
            </setting>
            <setting name="NRBurl" serializeAs="String">
                <value> http://nrb.cryptopools.com/index.php?page=api&amp;action=public</value>
            </setting>
            <setting name="TAGurl" serializeAs="String">
                <value> http://tag.cryptopools.com/index.php?page=api&amp;action=public</value>
            </setting>
            <setting name="DOGEurl" serializeAs="String">
                <value> http://doge.cryptopools.com/index.php?page=api&amp;action=public</value>
            </setting>
            <setting name="LOTurl" serializeAs="String">
                <value> http://lot.cryptopools.com/index.php?page=api&amp;action=public</value>
            </setting>
            <setting name="MOONurl" serializeAs="String">
                <value> http://moon.cryptopools.com/index.php?page=api&amp;action=public</value>
            </setting>
            <setting name="RPCurl" serializeAs="String">
                <value> http://rpc.cryptocoinpools.co.uk/index.php?page=api&amp;action=public</value>
            </setting>
            <setting name="ASRurl" serializeAs="String">
                <value> http://asr.cryptopools.com/index.php?page=api&amp;action=public</value>
            </setting>
            <setting name="YUMurl" serializeAs="String">
                <value> http://yum.cryptopools.com/index.php?page=api&amp;action=public</value>
            </setting>
        </CryptoExpert_Pool_Monitor.My.MySettings>
    </applicationSettings>
</configuration>